[Unit]
Description=Example of forking daemon program

[Service]
Type=forking
PIDFile=/var/run/streamripdaemon.pid
ExecStart=/usr/bin/streamripdaemon \
	--conf_file /etc/streamripdaemon.conf \
	--log_file /var/log/streamripdaemon.log \
	--pid_file /var/run/streamripdaemon.pid \
	--daemon
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multiuser.agent
