[Unit]
Description=Example of simple daemon program

[Service]
Type=simple
ExecStart=/usr/bin/streamripdaemon \
	--conf_file /etc/streamripdaemon.conf \
	--log_file /var/log/streamripdaemon.log
User=root
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multiuser.agent
